<div class="fh5co-loader"></div>
<div id="page">
    <%= render 'layouts/link' %>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Teacher Login</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

    <div id="fh5co-project">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 animate-box fadeInUp animated-fast">
                    <h2>Teacher Login</h2>

                    <%= form_with scope: :session, url: teacher_login_path, local: true do |f| %>
                        <div class="field row form-group">
                            <%= f.label :email, "Email", class: "field_label" %>
                            <%= f.email_field :email, class: "form-control" %>
                        </div>

                        <div class="field row form-group">
                            <%= f.label :password, "Password", class: "field_label" %>
                            <%= f.password_field :password, class: "form-control" %>
                        </div>

                        <div class="actions form-group">
                            <%= f.submit "login", class: "btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
