<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>

<h4>&lt;list Ver.&gt;</h4>
<div class="schedules">
    <ul class="icon">
        <li><%= image_tag("sample_icon.png", class:"icon_img") %><p>teacher01</p></li>
        <li><%= image_tag("sample_icon.png", class:"icon_img") %><p>teacher02</p></li>
        <li><%= image_tag("sample_icon.png", class:"icon_img") %><p>teacher03</p></li>
        <li><%= image_tag("sample_icon.png", class:"icon_img") %><p>teacher04</p></li>
    </ul>
    <div class="scroll-schedules">
        <div class="viewport">
            <div class="overview">
                <ul class="time">
                    <li>9:00</li>
                    <li>10:00</li>
                    <li>11:00</li>
                    <li>12:00</li>
                    <li>13:00</li>
                </ul>

                <ul class="teacher">
                    <li><a href="#">予約可</a></li>
                    <li></li>
                    <li><a href="#">予約可</a></li>
                    <li><a href="#">予約可</a></li>
                    <li></li>
                </ul>
                <ul class="teacher">
                    <li></li>
                    <li></li>
                    <li><a href="#">予約可</a></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="teacher">
                    <li><a href="#">予約可</a></li>
                    <li><a href="#">予約可</a></li>
                    <li><a href="#">予約可</a></li>
                    <li><a href="#">予約可</a></li>
                    <li><a href="#">予約可</a></li>
                </ul>
                <ul class="teacher">
                    <li><a href="#">予約可</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li><a href="#">予約可</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<h4>&lt;table Ver.&gt;</h4>
<div class="schedules">
    <table class="aa" border="1">
        <thead class="bb">
            <tr>
                <th></th>
                <th><%= image_tag("sample_icon.png") %><p>teacher01</p></th>
                <th><%= image_tag("sample_icon.png") %><p>teacher02</p></th>
                <th><%= image_tag("sample_icon.png") %><p>teacher03</p></th>
                <th><%= image_tag("sample_icon.png") %><p>teacher04</p></th>
            </tr>
        </thead>
        <tbody class="cc">
            <tr>
                <th>9:00</th><td></td><td></td><td></td><td><a href="#">予約可</a></td>
            </tr>
            <tr>
                <th>10:00</th><td><a href="#">予約可</a></td><td></td><td></td><td><a href="#">予約可</a></td>
            </tr>
            <tr>
                <th>11:00</th><td></td><td></td><td></td><td><a href="#">予約可</a></td>
            </tr>
            <tr>
                <th>12:00</th><td><a href="#">予約可</a></td><td></td><td></td><td><a href="#">予約可</a></td>
            </tr>
            <tr>
                <th>13:00</th><td></td><td><a href="#">予約可</a></td><td></td><td><a href="#">予約可</a></td>
            </tr>
        </tbody>
    </table>
</div>