<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>

<h4>&lt;table Ver.&gt;</h4>
<div class="container">
    <table class="reservation">
        <thead class="teachers">
            <tr>
                <th></th>
                <th><%= image_tag("sample_icon.png") %><p>鈴木 一郎</p></th>
                <th><%= image_tag("sample_icon.png") %><p>古賀 涼</p></th>
                <th><%= image_tag("sample_icon.png") %><p>仲村 なつみ</p></th>
                <th><%= image_tag("sample_icon.png") %><p>真鍋 竜也</p></th>
            </tr>
        </thead>
        <tbody class="schedules">
            <tr>
                <th>9:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>10:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>11:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>12:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>13:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>14:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>15:00</th>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
            </tr>
            <tr>
                <th>16:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>17:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>18:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>19:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>20:00</th>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
            </tr>
            <tr>
                <th>21:00</th>
                <td></td>
                <td><%= link_to rooms_show_path, class: "btn", data: { "turbolinks" => false } do %><span class="btn-icon"><i class="far fa-calendar-check"></i></span><span class="btn-text">予約可</span><% end %></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>