<div class="fh5co-loader"></div>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: +01 123 456 7890</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/", data-turbolinks="false">Learn<span>.</span></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
                            <% if teacher_logged_in? %>
                                <li><%= link_to "User 一覧", users_path, data: { "turbolinks" => false } %></li>
                                <li class="active"><%= link_to "Teacher 一覧", teachers_path, data: { "turbolinks" => false } %></li>
                                <li class="btn-cta"><a href="/rooms", data-turbolinks="false"><span>Room Index</span></a></li>
                                <li class="btn-cta"><%= link_to teacher_logout_path, method: :delete do %><span>Teacher LOGOUT</span><% end %></li>
                            <% else %>
                                <li><%= link_to "User 一覧", users_path, data: { "turbolinks" => false } %></li>
                                <li class="active"><%= link_to "Teacher 一覧", teachers_path, data: { "turbolinks" => false } %></li>
                                <li class="btn-cta"><%= link_to destroy_user_session_path, method: :delete do %><span>User LOGOUT</span><% end %></li>
                            <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>All teachers</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    
    <div id="fh5co-project">
        <div class="container">
            <div class="row">
                <ul class="teachers-index">
                <% @teachers.each do |teacher| %>
                    <li>
                        <%= link_to teacher.name, teacher, data: { "turbolinks" => false } %>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>