<div class="fh5co-loader"></div>
<div id="page">
    <%= render 'layouts/link' %>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>My page (<%= @teacher.name %>)</h1>
                            <% if current_teacher == @teacher %>
                                <p><%= link_to "Profile Edit", edit_teacher_registration_path, data: { "turbolinks" => false }, class: "btn btn-primary btn-lg btn-learn" %></p>
                            <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    
    <div id="fh5co-project">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 animate-box fadeInUp animated-fast">
                    <h4>名前</h4>
                    <p><%= @teacher.name %></p>
                    <h4>年齢</h4>
                    <p><%= @teacher.age %></p>
                    <h4>在籍大学</h4>
                    <p><%= @teacher.university %></p>
                    <h4>学部</h4>
                    <p><%= @teacher.faculty %></p>
                    <h4>学科</h4>
                    <p><%= @teacher.department %></p>
                    <h4>学年</h4>
                    <p><%= @teacher.grade %></p>
                    <h4>担当科目</h4>
                    <p><%= @teacher.subject %></p>
                    <h4>自己PR</h4>
                    <p><%= @teacher.introduction %></p>
                    <h4>得意な参考書</h4>
                    <p><%= @teacher.reference_book %></p>
                    <h4>備考</h4>
                    <p><%= @teacher.etc %></p>
                </div>
            </div>
        </div>
    </div>
</div>