<h1><%= @user.name %> Chat room</h1>
<h2>To <%= @teacher.name %></h2>
<li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>

<form>
    <label>
        message: <input type="text" data-behavior="room_speaker">
    </label>
</form>
<br/>

<div id="messages", data-room_id="<%= @room.id %>", data-user_id="<%= @user.id %>", data-teacher_id="<%= @teacher.id %>", data-sent_user="<%= @sent_user.name %>">
    <% @messages.each do |message| %>
        <div><%= "#{message.user_name}: #{message.content}" %></div>
    <% end %>
</div>