<div class="fh5co-loader"></div>
<div id="page">
    <%= render 'layouts/link' %>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <% if teacher_logged_in? %>
                                <h1><%= @teacher.name %> Chat room</h1>
                                <h1>To <%= @user.name %></h1>
                            <% else %>
                                <h1><%= @user.name %> Chat room</h1>
                                <h1>To <%= @teacher.name %></h1>
                            <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    <div id="fh5co-project">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 animate-box fadeInUp animated-fast">
                    <form>
                        <label>
                            message: <input type="text" data-behavior="room_speaker">
                        </label>
                    </form>
                    <br/>

                    <div id="messages", data-room_id="<%= @room.id %>", data-user_id="<%= @user.id %>", data-teacher_id="<%= @teacher.id %>", data-sent_user="<%= @sent_user.name %>">
                        <% @messages.each do |message| %>
                            <div><%= "#{message.sent_user}: #{message.content}" %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>