<h1><%= @user.email %> Chat room</h1>
<h2>To <%= @teacher.name %></h2>
<li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>

<form>
    <label>
        message: <input type="text" data-behavior="room_speaker">
    </label>
</form>
<br/>

<div id="messages", data-room_id="<%= @room.id %>", data-teacher_id="<%= @teacher.id %>">
    <% @messages.each do |message| %>
        <div><%= "#{message.user_email}: #{message.content}" %></div>
    <% end %>
</div>